@model AsyncInn.Models.RoomAmenity

@{
  ViewData["Title"] = "Details";
}

<head>
  <link href="~/StyleSheet.css" rel="stylesheet" />
</head>



<h2>Details: Room Amenity</h2>

<div>
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Room): @Html.DisplayFor(model => model.Room.Name)
    </dt>
    <dt>
      @Html.DisplayNameFor(model => model.Amenity): @Html.DisplayFor(model => model.Amenity.Name)
    </dt>
  </dl>
</div>
<div class="bottom-navigation">
  <a asp-action="Index">Back to List</a>
</div>
