@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
  Layout = "_Layout";
}

<body>
  <ul>
    <li><a>AsyncInn Hotel Database Management</a></li>
    <li style="float:right"><a href="Amenities">Anemities</a></li>
    <li style="float:right"><a href="RoomAmenities">Room Anemities</a></li>
    <li style="float:right"><a href="Rooms">Rooms</a></li>
    <li style="float:right"><a href="HotelRooms">Hotel Rooms</a></li>
    <li style="float:right"><a href="Hotels">Hotels</a></li>
    <li style="float:right"><a href="Home">Main</a></li>
  </ul>
</body>


